:root {
	--light-sandy: #f4f1e0;
	--bright-green: #adff00;
	--pink: #f92e4b;
	--gray: #313030;
	--white: #fff;

    --main-button-background-color: #f92e4b;
    --main-button-background-color-hover: #ac0000;
    --main-button-text-color: #ffffff;
    --main-button-font-family: "Raleway-Medium-500", sans-serif;

    --main-font: "Raleway-Regular-400", sans-serif;

    --title-font-family: "ViaodaLibre-Regular-400", sans-serif;

    --clamp-24-68: clamp(24px, 8px + 5cqi, 68px);
    --clamp-28-96: clamp(28px, 3px + 7.7273cqi, 96px);
    --clamp-24-55: clamp(24px, 12px + 3.5227cqi, 55px);
    --clamp-14-18: clamp(14px, 12px + 0.4545cqi, 18px);
    --clamp-18-25: clamp(22px, 15px + 0.7955cqi, 25px);
}

@font-face {
    font-family: 'LoversQuarrel-Regular-400';
    src: url('/fonts/LoversQuarrel-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Raleway-Medium-500';
    src: url('/fonts/Raleway-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Raleway-Regular-400';
    src: url('/fonts/Raleway-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Sansation-Light-300';
    src: url('/fonts/Sansationlight.ttf') format('truetype');
}
@font-face {
    font-family: 'SignPainter-Semibold-600';
    src: url('/fonts/SignPainter-Housescript-Semibold.ttf') format('truetype');
}
@font-face {
    font-family: 'SignPainter-400';
    src: url('/fonts/SignPainter-Housescript.ttf') format('truetype');
}
@font-face {
    font-family: 'ViaodaLibre-Regular-400';
    src: url('/fonts/ViaodaLibre-Regular.ttf') format('truetype');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    font-family: var(--main-font);
    background-color: var(--gray);
    color: var(--light-sandy);
    font-size: 18px;
    overflow-x: hidden;
}

.container {
    margin: 0 auto;
    max-width: 1230px;
    padding: 0 15px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 240px;
    border-radius: 60px;
    padding: 15px 25px;
    font-size: 18px;
    font-family: var(--main-button-font-family);
    color: var(--main-button-text-color);
    text-decoration: none;
    text-transform: uppercase;
    background: var(--main-button-background-color);
    cursor: pointer;
    transition: background .5s ease;
    -webkit-transition: background .5s ease;
    -moz-transition: background .5s ease;
    -ms-transition: background .5s ease;
    -o-transition: background .5s ease;
}

.btn:hover {
    background: var(--main-button-background-color-hover);
}

.h1-text {
    font-family: var(--title-font-family);
    color: var(--light-sandy);
    font-size: var(--clamp-24-68);
    line-height: 115%;
    text-transform: uppercase;
}


.h2-text {
    font-family: var(--title-font-family);
    color: var(--light-sandy);
    font-size: var(--clamp-24-55);
    line-height: 127%;
    text-transform: uppercase;
}

.h3-text {
    font-family: var(--title-font-family);
    color: var(--light-sandy);
    font-size: var(--clamp-18-25);
    line-height: 144%;
    text-transform: uppercase;
}

/*HEADER*/

.header {
    padding: 40px 0;
}

.header-container {
    display: flex;
}

.logo {
    display: block;
    margin-right: 21%;
}

.nav {
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.nav-item {
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    color: var(--light-sandy);
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.nav-item a {
    text-decoration: none;
    color: var(--light-sandy);
}

.nav-item:hover a {
    text-decoration: underline;
}

/* BURGER */
.menu-btn {
    width: 30px;
    height: 30px;
    position: fixed;
    right: 15px;
    top: 45px;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .2s ease-in-out;
    z-index: 1000;
}
.menu-btn__burger {
    width: 65%;
    height: 2px;
    background: var(--white);
    border-radius: 5px;
    transition: all .2s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 65%;
    height: 2px;
    background: var(--white);
    border-radius: 5px;
    transition: all .2s ease-in-out;
}
.menu-btn__burger::before {
    transform: translateY(-6px);
}
.menu-btn__burger::after {
    transform: translateY(6px);
}
.menu-btn.open .menu-btn__burger {
    background: transparent;
}
.menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg);
    background: var(--bright-green);
}
.menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg);
    background: var(--bright-green);
}
/* END BURGER */


/*MAIN*/

.main {
    position: relative;
    margin-top: 40px;
    height: 863px;
}

.main-container {
    display: flex;
}

.main-image-raspberries {
    position: absolute;
    top: -160px;
}

.main-image-bowl {
    position: absolute;
    right: 85px;
    transform: translateX(50%);
}

.main-info {
    margin-left: 205px;
    margin-right: 359px;
}

.main-info-title span {
    font-family: "SignPainter-400", sans-serif;
    color: var(--bright-green);
    margin-left: 15%;
    font-size: var(--clamp-28-96);
}

.main-info-text {
    font-size: var(--clamp-14-18);
    line-height: 144%;
    margin: 30px 15px 60px 100px;
}

.main-button {
    margin-left: 15%;
}

/*WHY*/

.why {
    min-height: 730px;
    padding-bottom: 100px;
}

.why-container {
    position: relative;
}

.why-title {
    margin-left: 232px;
    margin-bottom: 25px;
}

.why-title span {
    display: block;
    position: relative;
    left: -204px;
}

.why-text {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 232px;

    font-size: clamp(0.875rem, 0.7841rem + 0.4545vw, 1.125rem);
    line-height: 144%;

    margin-bottom: 61px;
}

.why-block {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(384px, 1fr));
    margin-left: 306px;
    gap: 40px;
}

.why-block-item {
    display: flex;
    align-items: center;
    /*max-width: 384px;*/
}

.why-block-img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 96px;
    width: 96px;
}

.why-block-img img {
    filter: drop-shadow(4px 4px 0 rgba(0, 0, 0, 0.2));
}

.why-block-text {
    max-width: 307px;
}

.why-block-text-title {
    margin-bottom: 5px;
}

.why-block-text-subtitle {
    font-size: var(--clamp-14-18);
    line-height: 144%;
}

.why-img {
    position: absolute;
    left: -25px;
    top: 180px;
}

/*MENU*/

.menu {
    padding-top: 50px;
    padding-bottom: 56px;
}

.menu-title {
    text-align: center;
    margin-bottom: 55px;
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(384px, 1fr));
    row-gap: 72px;
    column-gap: 24px;
    justify-items: center;
}

.menu-grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-grid-item-img {
    margin-bottom: 20px;
}

.menu-grid-item-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.menu-grid-item-title {
    font-size: var(--clamp-18-25);
    line-height: 144%;
}

.menu-grid-item-subtitle {
    text-align: center;
    max-width: 200px;
    font-size: var(--clamp-14-18);
    line-height: 144%;
}

.menu-grid-item-price {
    font-family: 'SignPainter-400', sans-serif;
    font-size: 30px;
}

.menu-grid-item-price span {
    text-transform: uppercase;
}

.menu-grid-item-button {
}

/*ORDER*/

.order {
    padding-top: 56px;
}

.order-title {
    text-align: center;
    margin-bottom: 25px;
}

.order-subtitle {
    text-align: center;
    margin-bottom: 40px;
    font-size: var(--clamp-14-18);
}

.order-form {
    background-image: url(../img/background-order-image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 30px 80px;
}

.order-form form {
    display: flex;
    flex-direction: column;
    width: 220px;
    gap: 30px;
}

.order-form form input {
    border: 1px solid var(--pink);
    border-radius: 90px;
    padding: 20px;
    width: 220px;
    height: 60px;
    background: var(--gray);

    font-family: "Sansationlight", sans-serif;
    font-size: 15px;
    color: #d8d8d8;
}

.input-product {
    text-transform: uppercase;
}
.input-product::placeholder {
    text-transform: none;
}

.form-btn {
    width: 100%;
}

/*FOOTER*/

.footer {
    margin-top: 100px;
    padding: 123px 0;
    background: #262626;
}

.footer .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-logo {
}

.footer-rights {
    font-size: 20px;
}

.mobile-menu {
    visibility: hidden;

    position: fixed;
    top: 0;
    left: 0;

    z-index: 2;

    width: 100vw;
    height: 100vh;
    background-color: var(--gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;

    transition: all 0.3s ease;

}
.mobile-menu a {
    font-size: 24px;
}

.mobile-menu.active {
    visibility: unset;
}


@media screen and (max-width: 1362px) {
    .main {
        height: 663px;
    }

    .main-image-bowl {
        transform: scale(70%) translateX(70%);
    }

}
@media screen and (max-width: 1162px) {
    .main-info {
        margin-left: 50px;
    }

    .main-image-bowl {
        transform: scale(50%) translateX(100%);
    }

    .main-image-raspberries {
        position: absolute;
        top: -250px;
        left: -115px;
        transform: scale(70%);
    }
    .why {
        padding-bottom: 50px;
    }

    .why-container {
        display: grid;
    }

    .why-title {
        margin-left: 0;
        text-align: center;
    }

    .why-title span {
        left: 0;
        text-align: center;
    }

    .why-text {
        justify-self: center;
        width: 90%;
        margin-left: 0;
    }

    .why-block {
        justify-items: center;
        margin-left: 0;
    }

    .why-block-img {
        width: 100px;
        height: 100px;
    }

    .why-block-img img {
        height: 80%;
    }

    .why-img {
        display: none;
    }
}
@media screen and (max-width: 945px) {
    .nav {
        display: none;
    }

    .menu-btn {
        display: flex;
    }
    .main {
        height: 563px;
    }

    .main-info {
        margin-right: 0;
    }

    .main-info-text {
        margin-left: 0;
    }

    .main-button {
        margin-left: 0;
        border-radius: 60px;
        padding: 15px 25px;
        width: 195px;
        height: 50px;
        font-size: 14px;
    }

    .main-image-bowl {
        display: none;
    }
}
@media screen and (max-width: 856px) {
    .main {
        height: 463px;
    }
    .why-block-text {
        max-width: 856px;
    }
    .why-block {
        justify-items: start;
    }

    .order-form form {
        width: 100%;
    }

    .order-form form input {
        width: 100%;
    }
}
@media screen and (max-width: 425px) {
    .why-block {
        grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    }
    .why-block-text-subtitle {
        font-size: 16px;
    }
    .why-block-img {
        width: 30%;
        height: 60px;
        margin-right: 10px;
    }
    .why-block-img img {
        height: 80%;
    }
    .menu-grid {
        grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    }
    .menu-grid-item-img img {
        width: 290px;
    }
    .order-form {
        padding: 30px 15px;
    }
}